*{
 margin: 0;
 padding: 0;
font-family: 'Open Sans', sans-serif;
}
/* section one styles */
.section-items{
  background-image: url(../images/banner/banner3.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height:1000px;
  align-items: right; 
 
}
.item{
  text-align: right;
  padding-right: 230px;
  padding-top: 216px;
}

.item-title{
  font-size: 65px;
  color: #ffff;
  padding-bottom: 24px;

}
.item-details{
  color: #ffff;
  padding-bottom: 24px;
}
.btn-primary{
  font-size: 20px;
  font-weight: 600;
  color: #005FAC;
  padding: 20px 25px;
  border-radius: 5px;
  border: none;
}
/* section two styles */
.section-two{
 display: flex;
 margin:x;
 align:center;
}

.right{
  font-size: 30px;
  font-weight: 240px;


}
.right-title{
  font-size: 40px;
  font-weight: 700;
  padding-top: 80px;
}