*{
 margin: 0;
 padding: 0;
font-family: 'Open Sans', sans-serif;
}
/* section one styles */
.section-items{
  background-image: url(../images/banner/banner3.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height:1000px;
  align-items: right; 
 
}
.item{
  text-align: right;
  padding-right: 230px;
  padding-top: 216px;
}

.item-title{
  font-size: 65px;
  color: #ffff;
  padding-bottom: 24px;

}
.item-details{
  color: #ffff;
  padding-bottom: 24px;
}
.btn-primary{
  font-size: 20px;
  font-weight: 600;
  color: #005FAC;
  padding: 20px 25px;
  border-radius: 5px;
  border: none;
}
/* section two styles */
.section-two{
 display: flex;
 align-items: center;
 padding-left: 222px;
 padding-right: 306px;

 
 
}

.right{
  padding-left: 50px;
  padding-top: 200px;

}
.right-title{
  color: #151414;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 24px;
 
}
.right-title-details{
padding-bottom: 16px;
}
.icon{
  padding: 6px;
}