*{
 margin: 0;
 padding: 0;
font-family: 'Open Sans', sans-serif;
}
/*  header styles */
.header-items{
  background-image: url(../images/banner/banner3.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height:1000px;
  align-items: right; 
 
}
.item{
  text-align: right;
  padding-right: 230px;
  padding-top: 216px;
}

.item-title{
  font-size: 65px;
  color: #ffff;
  padding-bottom: 24px;

}
.item-details{
  color: #ffff;
  padding-bottom: 24px;
}
.btn-primary{
  font-size: 20px;
  font-weight: 600;
  color: #005FAC;
  padding: 20px 25px;
  border-radius: 5px;
  border: none;
}
/* section two styles */
.section-two{
 display: flex;
 align-items: center;
 padding-left: 222px;
 padding-right: 306px;
 margin-left: 150px;
padding-bottom: 50px;
 
 
}
.left{
  padding-top: 50px;
}

.right{
  padding-left: 50px;
  padding-top: 200px;

}
.right-title{
  color: #151414;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 24px;
 
}
.right-title-details{
padding-bottom: 16px;
}
.icon{
  padding: 6px;
}
/* section three styles */
.section-three{

}
.section-three-title{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 50px;
  padding-right: 20px;


}
.parent-div{
  display: flex;
  gap: 50px;
  padding-left: 380px;
  padding-right: 300px;
  margin-left: 150px;
  padding-bottom: 50px;

}
.cd-title{
  color: #151414;
  font-weight: 700;
  font-size: 24px;
}
.cd-sub-title{
color: #737272;
font-weight: 700;
font-size: 20px;
}


.linear-gradient{
  width: 1140px;
  height: 300px;

  background-image:  linear-gradient(to left, yellow,blue);
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  margin-left: 340px;
  margin-bottom: 80px;
  
}
.lg-title{
  font-weight: 700;
  font-size: 40px;
  color:#ffff;
  padding-left: 64px;
  padding-top: 60px;
  padding-bottom: 24px;
}
.lg-button{
  background: #fff;
  color:blue;
  padding: 20px 36px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 100px;

}
/* contact section styles */
.contact{
  background-color: rgb(0, 4, 4);
  display: flex;
 
}
.contact-items{
  padding: 130px 340px;
}

.contact-title{
  color: #ffff;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 24px;
  
}
.contact-sub-title{
  color: #ffff;
  padding-bottom: 24px;

}
.contact-sub-title-one{
  color: #ffff;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 31px;
}
.add-padding{
  padding-bottom: 24px;
}
.info{
  padding-bottom: 16px;
  color: #ffff;
}
.info-one{
  color: #ffff;
  padding-bottom: 16px;
}
.link{
  padding:6px;
}

.contact-from{
  padding-top: 130px ;
  padding-left: 230px;
}
input{
  color: #ffff;
  background: black;
  padding-top: 21px;
  padding-left: 21px;
  padding-right: 160px;
  padding-bottom: 20px;
  border-radius: 5px;
}
.contact-button{
  color:blue;
  border: none;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  background: white;
  padding: 20px 36px;


}
/*  new section styles */
.blog{
  display: flex;
  gap: 30px;
  padding-left: 340px;
  padding-bottom: 60px;

}
.blog-item{
  color: white;
  border: none;
  border-radius: 5px;
  background: blue;
  padding: 70px 80px;
  width: 200px;
  height: 250px;
  pa

}



